extends layout

block content
  p EcoFactory
    .info.d-flex
      .card.p-5.bg-dark.text-light.m-2(style="width: 200px") 
        p Yangiliklar 
          span  5
      .card.p-5.bg-info.text-light.m-2(style="width: 200px") 
        p Bo'limlar 
          span  7
      .card.p-5.bg-secondary.text-light.m-2(style="width: 200px") 
        p Hamkorlar 
          span  45
      .card.p-5.bg-primary.text-light.m-2(style="width: 200px") 
        p Mahsulotlar 
          span  56    

